@model BCBS_Api.Models.SCARFSurveyAnswerModels
@{
    Layout = null;
}
<!DOCTYPE html>
@{
    Layout = null;
    var imagePath = Server.MapPath("~/Images/");
    var selectedImagePath = Server.MapPath("~/Images//tick.png");
}
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> </title>



    <style>
         * {
            margin:0px;
        }
        html {
            margin:0px;
        }

        table th, table td {
            border: 0.4px solid #ffffff;
            line-height: 28px;
        }

        table img {
            width: 18px;
            height: 10px;
            display: block;
            position: relative;
            left: 5px;
            margin-left: 5px;
            padding-left: 5px;
            text-align: center;
            margin: 0 auto;
            text-indent: 5px;
        }
    </style>



</head>
<body style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-top:0px;">
    <div>


        <div style="width: 100%; height: 160px;   background: #000b41; /* Old browsers */
background: -moz-linear-gradient(top, #000b41 0%, #002063 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000b41 0%,#002063 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000b41 0%,#002063 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */">
            <div style="width: 80px; float: left; padding-left: 12px; padding-top: 15px; padding-bottom:10px;">
                <img src="@imagePath\logo.png" alt="logo" />
            </div>


            
            <div style="background-image: url('@imagePath/border_img.png'); width: 440px; Left:220px; margin-left:135px; margin-top:20px; top:20px; font-size:12px; color:#ffffff; height:72px; position: relative; z-index:2; top: 0px; padding: 22px 50px 0px 30px; text-align:left">
                <b style="color: #ffffff; font-size: 24px; font-weight: bold; margin:0px 0px 0px 0px; text-align: center; padding: 0px;">SCARF SURVEY TOOL</b>
            </div>


            <div>
                <div style="margin:0 auto; text-align:center; position:relative; z-index:4; left:-5px; top:-90px;">
                    <img src="@imagePath\header_icon1.png" alt="icon1" style="width:34px; height:32px;" />
                    <img src="@imagePath\header_icon2.png" alt="icon2" style="width:34px; height:32px;" />
                    <img src="@imagePath\header_icon3.png" alt="icon3" style="width:34px; height:32px;" />
                    <img src="@imagePath\header_icon4.png" alt="icon4" style="width:34px; height:32px;" />
                    <img src="@imagePath\header_icon5.png" alt="icon5" style="width:34px; height:32px;" />
                </div>
            </div>

        </div>

        <div style="width:100%;">

            <table style="border:0px; border-collapse: collapse; width:767px;">
                <tr>
                    <td style="width:354px; margin:0px 0px 0px 20px; position:relative; bottom:50px;">


                        <div style="background-image: url('@imagePath/arrow_bg.png'); width: 310px; font-size:12px; color:#ffffff; height:45px; position: relative;  left: 110px; top: 0px; padding: 19px 50px 0px 150px; text-align:left">
                            <b>RATING</b>
                        </div>



                        <table style="font-family: arial, sans-serif;border-collapse: collapse; height: 300px;position: relative; margin-top:10px;">
                            <tr>
                                <th style="font-size:10px; text-align: center;background-color: #01184c;color: #ffffff;text-align: left; height: 22px; width: 115px; border:0.4px solid #fff;">&nbsp;&nbsp;PARAMETER</th>
                                <th style="font-size:10px; text-align: center;background-color: #992833;color: #ffffff;">-5</th>
                                <th style="font-size:10px; text-align: center;background-color: #992833;color: #ffffff;">-4</th>
                                <th style="font-size:10px; text-align: center;background-color: #992833;color: #ffffff;">-3</th>
                                <th style="font-size:10px; text-align: center;background-color: #992833;color: #ffffff;">-2</th>
                                <th style="font-size:10px; text-align: center;background-color: #992833;color: #ffffff;">-1</th>
                                <th style="font-size:10px; text-align: center;background-color: #5f5e5e;color: #ffffff; font-size: 12px; width:30px;">NA</th>
                                <th style="font-size:10px; text-align: center;background-color: #0070c0;color: #ffffff;">1</th>
                                <th style="font-size:10px; text-align: center;background-color: #0070c0;color: #ffffff;">2</th>
                                <th style="font-size:10px; text-align: center;background-color: #0070c0;color: #ffffff;">3</th>
                                <th style="font-size:10px; text-align: center;background-color: #0070c0;color: #ffffff;">4</th>
                                <th style="font-size:10px; text-align: center;background-color: #0070c0;color: #ffffff;">5</th>
                            </tr>
                            <tr>
                                <td style="background-color: #03588d;color: #ffffff;font-weight: bold;font-size: 12px; border:0.4px solid #fff; height: 22px; font-size:10px;">&nbsp;&nbsp;STATUS</td>
                                <td style="@(Model.Status == "-5" ? "background-color: #ffeaec;background-repeat: no-repeat; background-position: center center; " : "background-color: #ffeaec;")"><img src="@(Model.Status == "-5" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "-4" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center; " : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Status == "-4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "-3" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center; " : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Status == "-3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "-2" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center; " : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Status == "-2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "-1" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center; " : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Status == "-1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "NA" ? "background-color: #ebebeb;color: #ffffff; background-repeat: no-repeat; background-position: center center; " : "background-color: #ebebeb;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "NA" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "1" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "2" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center; " : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "3" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center; " : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "4" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center; " : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Status == "5" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center; " : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Status == "5" ? selectedImagePath : "")" alt="logo" /></td>
                            </tr>
                            <tr>
                                <td style="background-color: #03588d;color: #ffffff;font-weight: bold;font-size: 12px; border:0.4px solid #fff; height: 22px; font-size:10px;">&nbsp;&nbsp;CERTANITY</td>
                                <td style="@(Model.Certainty == "-5" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position: center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Certainty == "-5" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "-4" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position: center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Certainty == "-4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "-3" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position: center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Certainty == "-3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "-2" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position: center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Certainty == "-2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "-1" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position: center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Certainty == "-1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "NA" ? "background-color: #dbdbdb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #dbdbdb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "NA" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "1" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "2" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "3" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "4" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Certainty == "5" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Certainty == "5" ? selectedImagePath : "")" alt="logo" /></td>
                            </tr>
                            <tr>
                                <td style="background-color: #03588d;color: #ffffff;font-weight: bold;font-size: 12px; border:0.4px solid #fff; height: 22px; font-size:10px;">&nbsp;&nbsp;AUTONOMY</td>
                                <td style="@(Model.Autonomy == "-5" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Autonomy == "-5" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "-4" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Autonomy == "-4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "-3" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Autonomy == "-3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "-2" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Autonomy == "-2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "-1" ? "background-color: #ffeaec; background-repeat: no-repeat; background-position: center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Autonomy == "-1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "NA" ? "background-color: #ebebeb;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #ebebeb;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "NA" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "1" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "2" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "3" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "4" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Autonomy == "5" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position: center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Autonomy == "5" ? selectedImagePath : "")" alt="logo" /></td>
                            </tr>
                            <tr>
                                <td style="background-color: #03588d;color: #ffffff;font-weight: bold;font-size: 12px; border:0.4px solid #fff; height: 22px; font-size:10px;">&nbsp;&nbsp;RELATEDNESS</td>
                                <td style="@(Model.Relatedness == "-5" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position:center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Relatedness == "-5" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "-4" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position:center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Relatedness == "-4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "-3" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position:center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Relatedness == "-3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "-2" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position:center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Relatedness == "-2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "-1" ? "background-color: #fbdcdf; background-repeat: no-repeat; background-position:center center;" : "background-color: #fbdcdf;width: 30px;")"><img src="@(Model.Relatedness == "-1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "NA" ? "background-color: #dbdbdb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #dbdbdb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "NA" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "1" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "2" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "3" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "4" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Relatedness == "5" ? "background-color: #b5dffb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #b5dffb;color: #ffffff;width: 30px;")"><img src="@(Model.Relatedness == "5" ? selectedImagePath : "")" alt="logo" /></td>
                            </tr>
                            <tr>
                                <td style="background-color: #03588d;color: #ffffff;font-weight: bold;font-size: 12px; border:0.4px solid #fff; height: 22px; font-size:10px;">&nbsp;&nbsp;FAIRNESS</td>
                                <td style="@(Model.Fairness == "-5" ? " background-color: #ffeaec; background-repeat: no-repeat; background-position:center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Fairness == "-5" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "-4" ? " background-color: #ffeaec; background-repeat: no-repeat; background-position:center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Fairness == "-4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "-3" ? " background-color: #ffeaec; background-repeat: no-repeat; background-position:center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Fairness == "-3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "-2" ? " background-color: #ffeaec; background-repeat: no-repeat; background-position:center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Fairness == "-2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "-1" ? " background-color: #ffeaec; background-repeat: no-repeat; background-position:center center;" : "background-color: #ffeaec;width: 30px;")"><img src="@(Model.Fairness == "-1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "NA" ? "background-color: #ebebeb;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #ebebeb;color: #ffffff;width: 30px; ")"><img src="@(Model.Fairness == "NA" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "1" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Fairness == "1" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "2" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Fairness == "2" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "3" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Fairness == "3" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "4" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Fairness == "4" ? selectedImagePath : "")" alt="logo" /></td>
                                <td style="@(Model.Fairness == "5" ? "background-color: #d8eefd;color: #ffffff; background-repeat: no-repeat; background-position:center center;" : "background-color: #d8eefd;color: #ffffff;width: 30px;")"><img src="@(Model.Fairness == "5" ? selectedImagePath : "")" alt="logo" /></td>
                            </tr>
                        </table>

                        <div style="position:relative; top:15px;">
                            <div style="font-family: calibri; font-size:12px; bottom:3px;  position: relative;">SCARF Survey Results for <span id="learner_name" style="color: #0070c0; padding-left: 5px; font-weight: bold;">@Model.LearnerName</span></div>
                            <div style="color: #000000; font-family: calibri; font-size:12px; position: relative;">Date of Survey: <span id="learner_date">@DateTime.Now.ToShortDateString()</span></div>
                        </div>


                    </td>

                    <td style="width:5px;"></td>

                    <td style="width:283px; padding:0px; margin:0px 20px 0px 0px; position:relative; background-color:#cccccc;">


                        <div class="right_wrap" style="background-color: #efefef; position: relative; padding:25px 15px; right: 0px; top: 0px;">
                            <h3 style="font-size: 12px; font-weight: bold; color: #03588d; font-family: calibri; text-align: center; padding: 0px; margin: 15px 0px; text-transform: uppercase;"><span id="learner_name1" style="font-size: 14px; font-weight: bold; color: #03588d; font-family: calibri; text-transform: uppercase;">@Model.LearnerName.ToUpper()</span>'S COMMENTS</h3>

                            <div class="status wrap" style="border-bottom: 2px solid #cccccc; padding: 5px 0px;">
                                <span style="color: #03588d; font-weight: bold; position:relative; font-size: 12px; font-family: calibri; line-height: 25px;">STATUS</span>
                                <div id="status_description" style="font-size: 11px; font-family: calibri; line-height: 14px;">
                                    @Model.StatusText
                                </div>
                            </div>

                            <div style="height:0.8px; background-color:#cccccc; padding:2px; width:100%; margin:30px 0px;"></div>

                            <div class="certanity wrap" style="border-bottom: 2px solid #cccccc; padding: 5px 0px;">
                                <span style="color: #03588d; font-weight: bold; position:relative; bottom:10px; font-size: 12px; font-family: calibri; line-height: 25px;">CERTANITY</span>
                                <div id="certanity_description" style="font-size: 11px; font-family: calibri; line-height: 14px; ">
                                    @Model.CertaintyText
                                </div>
                            </div>

                            <div style="height:0.8px; background-color:#cccccc; padding:2px; width:100%; margin:30px 0px;"></div>


                            <div class="autonomy wrap" style="border-bottom: 2px solid #cccccc; padding: 5px 0px;">
                                <span style="color: #03588d; font-weight: bold;  position:relative; font-size: 12px; font-family: calibri; line-height: 25px;">AUTONOMY</span>
                                <div id="autonomy_description" style="font-size: 11px; font-family: calibri; line-height: 14px;">
                                    @Model.AutonomyText
                                </div>
                            </div>

                            <div style="height:0.8px; background-color:#cccccc; padding:2px; width:100%; margin:30px 0px"></div>

                            <div class="relatedness wrap" style="border-bottom: 2px solid #cccccc; padding: 5px 0px;">
                                <span style="color: #03588d; font-weight: bold; font-size: 12px;  position:relative;  font-family: calibri; line-height: 25px;">RELATEDNESS</span>
                                <div id="relatedness_description" style="font-size: 11px; font-family: calibri; line-height: 14px;">
                                    @Model.RelatednessText
                                </div>
                            </div>

                            <div style="height:0.8px; background-color:#cccccc; padding:2px; width:100%; margin:30px 0px"></div>

                            <div class="fairness wrap" style="border-bottom: 2px solid #cccccc; padding: 5px 0px;">
                                <span style="color: #03588d; font-weight: bold; font-size: 12px;  position:relative;  font-family: calibri; line-height: 25px;">FAIRNESS</span>
                                <div id="fairness_description" style="font-size: 11px; font-family: calibri; line-height: 14px; position:relative; top:1px;">
                                    @Model.FairnessText
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>
            </table>
        </div>

        <img src="@imagePath\btm_img.jpg" alt="icon1" style="width:767px; height:30px;" />

    </div>
</body>
</html>

